.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 12px;
    cursor: pointer;
    -webkit-box-shadow: -10px 0px 13px -7px #34ffc2;
    box-shadow: -10px 0px 13px -7px #34ffc2;
}

.featuredTitle {
    font-size: 18px;
}

.featuredMoneyContainer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney {
    font-size: 30px;
    font-weight: 450;
}

.featuredMoneyRate {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon {
    font-size: 14px;
    margin-left: 5px;
    color: rgb(2, 54, 165);
}

.featuredIcon.negative {
    color: rgb(170, 15, 15);
}

.featuredSub {
    font-size: 17px;
    color: rgb(4, 121, 255);
}